include ./header
include ./headerSeller

    if !additem && !showBid
        .row
            for item in items
                .col-md-4
                    article.items
                        
                        if item.sold
                            a( href=`/profile/showbid/${item._id}` style='font-size: 18px;')= item.name
                        else 
                            a( href=`/profile/bid/${item._id}` style='font-size: 18px;')= item.name
                        footer
                            
                            span= `${new Date(item.date).getDate()}/${new Date(item.date).getMonth()+1}/${new Date(item.date).getFullYear()}`
                            if item.sold
                                a( href=`/profile/showbid/${item._id}` style='color:green; float: right;') Sold
                            else if !item.sold && item.bidded
                                span(style='color:red;') Not sold
                            else if !item.bidded
                                span(style='color:blue;') In Queue
    else if showBid 
        .col-md-8(style='margin: auto; margin-top: 20px')
            .itemShow
                h4(style='margin-bottom: 20px')= item[0].name
                
                .info
                    div
                        p= 'Price: '
                        p= `${bid[0].price}$`
                    div
                        p= 'Bid Winner: '
                        p= user[0].fullname
                    div
                        p= 'Email address: '
                        p= user[0].email
                    div(style='border-bottom: 0px')
                        p= 'Phone number: '
                        p= user[0].phone

    else if additem
        .row
            .col-md-8(style='margin: auto')
                form(method='post' action='/profile/additem' enctype="multipart/form-data" style='background-color: white; padding: 10px;')
                    .form-group
                        p Organ name
                        input.form-control(type='text' name='name' required)
                    .form-group
                        p Details
                        textarea.form-control(type='text' name='detail' required)
                    .form-group
                        p age
                        input.form-control(type='number' name='age' required)
                    .form-group
                        select.form-control(name='category' required)
                            option(value='') -- Select Category --
                            for cat in categories
                                option(value=cat._id)= cat.name
                    
                    .form-group
                        input.btn.btn-primary.form-control(type='submit' value='+ Add')
                    .messages

    