include ./headerSeller
    
    if !additem && !showBid && !heart && !lung 
        .row
            for item in items
                .col-md-4
                    article.items
                        
                        if item.sold
                            a( href=`/profile/showbid/${item._id}` style='font-size: 18px;')= item.category_id
                        else 
                            a( href=`/profile/bid/${item._id}` style='font-size: 18px;')= item.category_id
                        footer
                            
                            span= `${new Date(item.date).getDate()}/${new Date(item.date).getMonth()+1}/${new Date(item.date).getFullYear()}`
                            if item.sold
                                a( href=`/profile/showbid/${item._id}` style='color:green; float: right;') Sold
                            else if !item.sold
                                span(style='color:red;') Not sold
                           
    else if showBid 
        .col-md-8(style='margin: auto; margin-top: 20px')
            .itemShow
                h4(style='margin-bottom: 20px')= item[0].name
                
                .info
                    div
                        p= 'Price: '
                        p= `${bid[0].price}$`
                    div
                        p= 'Bid Winner: '
                        p= user[0].fullname
                    div
                        p= 'Email address: '
                        p= user[0].email
                    div(style='border-bottom: 0px')
                        p= 'Phone number: '
                        p= user[0].phone

    else if additem == 'liver'
        .row
            .col-md-4(style='margin: auto; background-color:#f3f3f3c7; box-shadow: 0px 0px 5px 2px #30c98638; ')
                p Liver INFO
                h6(style='text-align: center; margin-top: 10px; color:#30C986; border-bottom:2px solid #30c986;' )  #{loggedInUser.fullname} 
                form(method='post' action='/profile/additem/liver' enctype="multipart/form-data" style='background-color: white; padding: 10px;')
                .form-group
                    p Age
                    input.form-control(type='number', name='age', required='required')
                .form-group
                    p Height(cm)
                    input.form-control(type='number', name='height', required='required')
                .form-group
                    p Weight(kg)
                    input.form-control(type='number', name='weight', required='required')
                .form-group
                    p Gender
                    select.form-control(name='gender', required='required')
                        option(value='') Gender:
                        option(value='Female') Female
                        option(value='Male') Male
                .form-group
                    p Blood type
                    input.form-control(type='text', name='bt', required='required')
                .form-group
                    p BP level
                    select.form-control(name='BP', required='required')
                        option(value='High') high
                        option(value='Low') low
                        option(value='Normal') normal
                .form-group
                    p Deceased
                    select.form-control(name='deceased', required='required')
                        option(value='true') Yes
                        option(value='false') No
                .form-group
                    select.form-control(name='Blood_sugar', required='required')
                        option(value='') Blood sugar:
                        option(value='High') High
                        option(value='Low') Low
                        option(value='normal') Normal
                .form-group
                    p Hepatitis
                    select.form-control(name='hepatitis', required='required')
                        option(value='true') Yes
                        option(value='false') No
                .form-group
                    p Cancer
                    select.form-control(name='cancer', required='required')
                        option(value='true') Yes
                        option(value='false') No
                .form-group
                    p HIV
                    select.form-control(name='hiv', required='required')
                        option(value='true') Yes
                        option(value='false') No
                .form-group
                    p Creatinine
                    select.form-control(name='gfr', required='required')
                        option(value='true') Yes
                        option(value='false') No
                .form-group
                    p GFRs
                    select.form-control(name='deceased', required='required')
                        option(value='true') Yes
                        option(value='false') No
    else if additem == 'heart'
        .row
            .col-md-4(style='margin: auto; background-color:#f3f3f3c7; box-shadow: 0px 0px 5px 2px #30c98638; ')
                h4(style='text-align: center; margin-top: 10px; color:#30C986; border-bottom:2px solid #30c986 ' )  #{loggedInUser.fullname} <i class="fa-solid fa-heart-circle-plus"></i>
                form(method='post' action='/profile/additem/heart' enctype="multipart/form-data" style='background-color: white; padding: 10px;')
                    .form-group
                        p Age
                        input.form-control(type='number', name='age', required='required')
                    .form-group
                        p Height(cm)
                        input.form-control(type='number', name='height', required='required')
                    .form-group
                        p Weight(kg)
                        input.form-control(type='number', name='weight', required='required')
                    .form-group
                        p Gender
                        select.form-control(name='gender', required='required')
                            option(value='Female') Female
                            option(value='Male') Male
                    .form-group
                        p Blood type
                        input.form-control(type='text', name='blood_type', required='required')
                    .form-group
                        p BP level
                        select.form-control(name='bp', required='required')
                            option(value='High') high
                            option(value='Low') low
                            option(value='normal') normal
                    .form-group
                        p Deceased
                        select.form-control(name='deceased', required='required')
                            option(value='true') Yes
                            option(value='false') No
                    .form-group
                        p History of heart disease
                        select.form-control(name='heart_disease', required='required')
                            option(value='true') Yes
                            option(value='false') No
                    .form-group
                        p Obesity
                        select.form-control(name='obesity', required='required')
                            option(value='true') Yes
                            option(value='false') No
                    .form-group
                        p Diabetes
                        select.form-control(name='diabetes', required='required')
                            option(value='true') Yes
                            option(value='false') No
                    .form-group
                        p Inotropes
                        select.form-control(name='inotropes', required='required')
                            option(value='+ve') Positive
                            option(value='-ve') Negative
                            option(value='Normal') Normal
                    .form-group
                        input.btn.btn-primary.form-control(type='submit' value='+ Add')
                    .messages
    else if additem == 'lung'
        .row
            .col-md-4(style='margin: auto; background-color:#f3f3f3c7; box-shadow: 0px 0px 5px 2px #30c98638;')
                form(method='post' action='/profile/additem/lung' enctype="multipart/form-data" style='background-color: white; padding: 10px;')
                    h3(style='text-align: center; margin-top: 10px; color:#30C986; border-bottom:2px solid #30c986; ' )  #{loggedInUser.fullname}  <i class="fa-solid fa-lungs"></i>
                    .form-group
                        p Age
                        input.form-control(type='number', name='age', required='required')
                    .form-group
                        p Height(cm)
                        input.form-control(type='number', name='height', required='required')
                    .form-group
                        p Weight(kg)
                        input.form-control(type='number', name='weight', required='required')
                    .form-group
                        p Gender 
                        select.form-control(name='gender', required='required')
                            option(value='Female') Female
                            option(value='Male') Male
                    .form-group
                        p Blood type
                        input.form-control(type='text', name='bt', required='required')
                    .form-group
                        p BP level
                        select.form-control(name='BP', required='required')
                            option(value='High') high
                            option(value='Low') low
                            option(value='Normal') normal
                    .form-group
                        p Deceased
                        select.form-control(name='deceased', required='required')
                            option(value='true') Yes
                            option(value='false') No      
                    .form-group
                        p No. of lungs
                        input.form-control(type='number', min='1', max='2', name='lungs_count', required='required')
                    .form-group
                        p Smoking years
                        input.form-control(type='number', name='smoking_years', required='required')
                    .form-group
                        p History of pulminory disease
                        select.form-control(name='is_pulminory', required='required')
                            option(value='true') Yes
                            option(value='false') No
                    .form-group
                        p Sepsis
                        select.form-control(name='sepsis', required='required')
                            option(value='true') Yes
                            option(value='false') No
                    .form-group
                        p Lung trauma
                        select.form-control(name='lung_trauma', required='required')
                            option(value='true') Yes
                            option(value='false') No

                    .form-group
                        input.btn.btn-primary.form-control(type='submit' value='+ Add')
                    .messages

    